transformers
ipykernel
torch==2.6.0
crewai
crewai-tools
langchain
langchain-google-genai
langchain_community
tavily-python
python-dotenv
groq
fastapi
uvicorn
python-multipart
PyPDF2
pdfplumber
bitsandbytes==0.45.5
accelerate

huggingface_hub
